.orange-color-back {
  color: #fff !important;
  font-weight: bold !important;
  background-color: #e65b20 !important;
}
.egg-color-back {
  background-color: #d1cbc3 !important;
}
.white-color-back {
  background-color: #f7f4f2 !important;
}
.brown-color-back {
  background-color: #3e1300 !important;
}
